<a href="https://colab.research.google.com/github/balamanipedakota/Assignment-/blob/main/day2_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1.employee data retreival
import pandas as pd
import numpy as np
data = {
        'name':['alice','bob','charlie'],
        'department':['hr','engineering','sales'],
        'salary':[60000,85000,75000]
}
df = pd.DataFrame(data)
print("\nbob using loc:\n",df.loc[df['name'] =='bob'])
print("\nbob using iloc:\n",df.iloc[1])

bob using loc:
   name   department  salary
1  bob  engineering   85000

bob using iloc:
 name                  bob
department    engineering
salary              85000
Name: 1, dtype: object

In [2]:
#2.combining student records
import pandas as pd
import numpy as np
freshmen = pd.DataFrame({'studentid':[1,2],'major':['cs','math']})
sophomores = pd.DataFrame({'studentid':[3,4],'major':['physics','chemistry']})
all_students = pd.concat([freshmen,sophomores],ignore_index = True)
print("\nall students:\n",all_students)

all students:
    studentid      major
0          1         cs
1          2       math
2          3    physics
3          4  chemistry

In [ ]:
#3.project assignment
import pandas as pd
import numpy as np
projects = pd.DataFrame({'project_id':[1,2,3],'project_name':['ai','web dev','data science']})
employees = pd.DataFrame({'employee_id':[101,102,103],'project_id':[1,3,2]})
merged = pd.merge(employees,projects,on = 'project_id')
print("\nemployee projects:\n",merged)

employee projects:
    employee_id  project_id  project_name
0          101           1            ai
1          102           3  data science
2          103           2       web dev

In [ ]:
#4.cleaning a customer list
customers = pd.DataFrame({'name':['john','jane','john','mike'],
                          'phone number':['12345',np.nan,'12345',np.nan]
                          })
customers_clean = customers.drop_duplicates()
customers_clean['phone number']=customers_clean['phone number'].fillna('not available')
print("\n cleaned customer list:\n",customers_clean)

 cleaned customer list:
    name   phone number
0  john          12345
1  jane  not available
3  mike  not available

/tmp/ipython-input-4288131926.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_clean['phone number']=customers_clean['phone number'].fillna('not available')

In [ ]:
#5.analyzing sales by region
import pandas as pd
import numpy as np
sales = pd.DataFrame({'region':['east','west','east','north','south','east'],'revenue':[200,150,300,100,250,400]
                      })
east_sales = sales[sales['region']=='east']
print("\neast region data:\n",east_sales)
print("total east revenue:",east_sales['revenue'].sum())

east region data:
   region  revenue
0   east      200
2   east      300
5   east      400
total east revenue: 900